<%= link_to 'criar produto', new_product_path %>

<% @products.each do |product| %>
<p> <%= product.name %> </p>
<p> <%= product.price %> </p>
<p> <%= product.quantidade  %> </p>

<%= link_to "Detalhes do produto", product %> <br>
<%= link_to "Editar o produto selecionado", edit_product_path(product) %>

<% end %>
